/* =====  ===== */
/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
p{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}

input,
textarea,
button {
	outline: none;
	border: none;
	
}

button {
	cursor: pointer;
	background-color: transparent;
}

textarea {
	resize: vertical;
}
input[type="submit"] {
	cursor: pointer;
}
blockquote {
	margin: 0;
}
/* ===== Reset end ===== */
/* ===== Default classes start ===== */
/* 
	text color, text align, backgrounds colors, float, transform 
*/
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.bg-black {
	background-color: #111;
}

.bg-gray {
	background-color: #f8f8f8;
}
.span-block span {
	display: block;
}
/* ===== Default classes end ===== */
/* ===== Default component start ===== */
/*   
	Buttons, text, title, section, small-section header,
	footer,form elements, icons, tabs, blockquote, container
 */
.default-section {
	padding: 135px 0;
}

.small-section {
	padding: 70px 0;
}

.conteiner {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;

}

.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}

.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	letter-spacing: .5em;
	margin-bottom: 75px;
	font-weight: 400;
}

.title.section-title-light {
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}

.default-text {
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}

blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}

blockquote span, 
.blockquote span {
	font-size: 11px;
	line-height: 0.2em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .2em;
}

.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.2em;
}
.btn[disabled] {
	cursor: not-allowed;
	opacity: .6;
}
.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #e1f0d8;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
	background-color: #323232;
	color: #fff;
}

.btn.btn-xs-gray {
	padding: 7px 15px;
	font-size: 11px;
	background-color: #e5e5e5;
	color: #777;
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding-left: 13px;
	padding-right: 13px;
}

.form-control:focus {
border-color: #111;
}

textarea.form-control {
	min-height: 82px;
	padding-top: 10px;
}

.form-control [disabled],
.form-control .disabled {
	cursor: not-allowed;
	opacity: .6;
}

.form-control.error {
	border-color: #f57e7e;
}
.form-info fa {
	font-size: 11px;
	font-weight: 400;
	color: #aaa;
}
 .header {
	width: 100%;
	z-index: 99;
	position: fixed;
	font-size: 24px;
	padding: 25px 0;
	overflow: hidden;
}
.header .logo {
	float: left;
	font-size: 0;
}

.header .header-nav {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .3em;
	color: rgba(255, 255, 255, .75);
	float: right;
}

.header .header-nav li {
	float: left;
}

.header .header-nav li + li { 
	margin-left: 30px;
}
.icon {
	font-size: 48px;
}
/* ===== Default component end ===== */
/* ===== Guide styles start ===== */
.guid-section form .form-control {
	margin-bottom: 10px;
}

/* ===== Guide styles end ===== */
 /* ===== Custom styles start ===== */
 /* Inner start */
.inner {
	width: 100%;
	background: url('../img/inner-bg.jpg') no-repeat center / cover;
	height: 100vh; 
	text-align: center;
	padding-top:73px;
}

.inner::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}

.inner-content{
	display: inline-block;
	vertical-align: middle;
}

.inner h1 {
	font-size: 30px;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
}

.inner span {
	font-size: 19px;
	font-weight: 300;
	color: rgba(255, 255, 255, .75);
	margin-top:  100px;
}
 /* Inner end */
 /* About-studio */
 .team-wrapper {
	 overflow: hidden;
	 width: 100%;
	 padding-top: 100px;
 }
 .team-item .team-item-info {
	 font-family: 'Open Sans', sans-serif;
	 padding: 40px;
 }
 .team-item .team-item-info span + span {
	margin-top: 15px;
 }
 .team-item-info .team-item-name {
	font-size: 15px;
}
 .team-item-info .team-item-role {
	 font-size: 12px;
 }
 .team-item .team-item-img {
	 position: relative;
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
 }
 .team-item .team-item-skills {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear; 
 }
 .team-item .team-item-img:hover .team-item-skills {
	opacity: 1;
 }
 /* About-studio end */
 /* Services */
 .services {
	 border-top: 1px solid rgba(0, 0, 0, .1);
 }
 #tabs .tabs-nav li {
	float: left;
	width: 20%;
	text-align: center;
	outline: none;
	opacity: .6;
 }
 #tabs .tabs-nav li:hover {
	 opacity: 1;
 }
 #tabs .tabs-nav span + span {
	margin-top: 38px;
}
#tabs .tabs-nav .services-name {
	font-size: 14px;
}
#tabs div {
	padding: 40px;
}
 /* Services end */
 /* Lets talk */
.lets-talk-content {
	padding: 140px 0;
}
.lets-talk-content p {
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}
.lets-talk .lets-talk-img {
	margin-top: -32px;
}
 /* Lets talk end */
 /* Portfolio */
 .portfolio-photo {
	 overflow: hidden;
	 padding: 50px;
	 margin-left: -4px;
	 margin-right: -4px;
 }
 .portfolio-item {
	float: left;
	width: 33.3333333%;
	padding: 0 4px;
	border: 1px solid red;
 }
 #tabs-portfolio .tabs-nav li {
	float: left;
	width: 20%;
	font-size: 13px;
	text-align: center;
	outline: none;
	opacity: .6;
 }
 #tabs-portfolio .tabs-nav li:hover {
	 opacity: 1;
 }
 #tabs-portfolio .tabs-nav .portfolio-name {
	font-size: 13px;
}
 #tabs-portfolio img {
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
 }
 #tabs-portfolio  img:hover {
	-webkit-filter: grayscale(0);
	filter:grayscale(0);
} 
 /* Portfolio end */
/* Works start */

/*  Works end */
/* Subscribe start */
.subscribe form .form-control {
	max-width: 290px;
}
.subscribe .form-info {
	margin-top: 17px;
}
/* Subscribe end */
 /* Choose */
 .choose-wrapper .row + .row {
	 margin-top: 85px;
 }
 /* .choose-item .choose span {
	display: block;
 } */
 .choose-item .choose span + span {
	margin-top: 38px;
 }
 .choose-item div + div {
	margin-top: 31px;
 }
 .choose-quality {
	 font-size: 14px;
 }
 /* Choose end */
 /* News */
 .news .title a {
	float: right;
	font-size: 11px;
	letter-spacing: 4px;
	color: #999;

	 letter-spacing: .3em;
 }
.news-img img {
 	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
}
.news-img img:hover {
	-webkit-filter: grayscale(0);
   filter:grayscale(0);
}
 .news-title {
	 padding-top: 30px;
 }
 .news-title .news-name {
	font-size: 15px;
	letter-spacing: .2em;
}
 .news-title .news-men {
	 font-size: 12px;
	 letter-spacing: 0.3em;
 }
 .news-title span + span {
	 margin-top: 17px;
 }
 .news-info .btn {
	margin-top: 27px;
 }
 /* News end */
/* ===== Custom styles end ===== */