/* =====  ===== */
/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
p{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}

blockquote {
	margin: 0;
}
/* ===== Reset end ===== */
/* ===== Default classes start ===== */
/* 
	text color, text align, backgrounds colors, float, transform 
*/
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.bg-black {
	background-color: #111;
}

.bg-grey {
	background-color: #f8f8f8;
}
/* ===== Default classes end ===== */
/* ===== Default component start ===== */
/*   
	Buttons, text, title, section, small-section header,
	footer,form elements, icons, tabs, blockquote, container
 */
.default-section {
	padding: 135px 0;
}

.small-section {
	padding: 70px 0;
}

.conteiner {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;

}

.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}

.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	letter-spacing: .5em;
	margin-bottom: 75px;
	font-weight: 400;
}

.title.section-title-light {
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}

.default-text {
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}

blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}

blockquote span, 
.blockquote span {
	font-size: 11px;
	line-height: 0.2em;
	font-weight: 300;
}

.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.2em;
}

.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #e1f0d8;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
	background-color: #323232;
	color: #fff;
}
 .header {
	width: 100%;
	z-index: 99;
	position: fixed;
	font-size: 24px;
	padding: 25px 0;
	overflow: hidden;
}
.header .logo {
	float: left;
	font-size: 0;
}

.header .header-nav {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .3em;
	color: rgba(255, 255, 255, .75);
	float: right;
}

.header .header-nav li {
	float: left;
}

.header .header-nav li + li { 
	margin-left: 30px;
}
.icon {
	font-size: 48px;
}
/* ===== Default component end ===== */
 /* ===== Custom styles start ===== */
 /* Inner start */
.inner {
	width: 100%;
	background: url('../img/inner-bg.jpg') no-repeat center / cover;
	height: 100vh; 
	text-align: center;
	padding-top:73px;
}

.inner::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}

.inner-content{
	display: inline-block;
	vertical-align: middle;
}

.inner h1 {
	font-size: 30px;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
}

.inner span {
	display: block;
	font-size: 19px;
	font-weight: 300;
	color: rgba(255, 255, 255, .75);
	margin-top:  100px;
}
 /* Inner end */
 /* About-studio */
 .team-wrapper {
	 overflow: hidden;
	 width: 100%;
	 padding-top: 100px;
 }
 .team-item .team-item-info {
	 font-family: 'Open Sans', sans-serif;
	 padding: 40px;
 }
 .team-item .team-item-info span {
	display: block;
 }
 .team-item .team-item-info span + span {
	margin-top: 15px;
 }
 .team-item-info .team-item-name {
	font-size: 15px;
}
 .team-item-info .team-item-role {
	 font-size: 12px;
 }
 .team-item .team-item-img {
	 position: relative;
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%)
 }
 .team-item .team-item-skills {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear; 
 }
 .team-item .team-item-img:hover .team-item-skills {
	opacity: 1;
 }
 /* About-studio end */
 /* Services */
 #tabs .tabs-nav li {
	float: left;
	width: 20%;
	text-align: center;
	outline: none;
 }
 #tabs .tabs-nav span {
	display: block;
 }
 #tabs .tabs-nav span + span {
	margin-top: 38px;
}
#tabs .tabs-nav .services-name {
	font-size: 14px;
}
#tabs div {
	padding: 40px;
}
 /* Services end */
 /* Choose */
 .choose-wrapper .row + .row {
	 margin-bottom: 85px;
 }
 .choose-item .choose span {
	display: block;
 }
 .choose-item .choose span + span {
	margin-top: 38px;
 }
 .choose-item div + div {
	margin-top: 31px;
 }
 .choose-quality {
	 font-size: 14px;
 }
 /* Choose end */
/* ===== Custom styles end ===== */